<style>

button{
    background-color:#B7BAC3;
    font: optional;
    font-size: x-small;
    color:black;
    width: 100px;
    border-color: blue;
}
body{
    background-color: #f9faf5;
}
h3{
    color:blue;
}
.bunnerimg {
width: 98%;
 height: auto;
 padding: 5px;
 align-items: center;
}
#id1{
    width: 100%;
    background-color: black;
}
h5{
    color: rgba(248, 7, 7, 0.897);
    text-align: center;
}
.profile-table {
border-collapse: collapse;
width: 80%;
margin: 20px auto;
}

.profile-img {
width: 150px;
height: 150px;
object-fit: cover;
border: 2px solid #333;
}

.profile-info {
font-family: Arial, sans-serif;
font-size: 14px;
padding: 10px;
}

</style>
