<style>

button{
    background-color:#B7BAC3;
    font: optional;
    font-size: x-small;
    color:black;
    width: 100px;
    border-color: blue;
}
body{
    background-color: #f9faf5;
}
h3{
    text-align: center;
    color:blue;
}
.bunnerimg {
width: 98%;
 height: auto;
 padding: 5px;
 align-items: center;
}
#id1{
    width: 100%;
    background-color: black;
}
h4{
    color: rgba(248, 7, 7, 0.897);
    text-align: center;
}

.container1{
    align-content: center;
}
.profile-img{
    width: flex;
    width: 40%;
}
</style>
